# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Python Environments & Caches
.venv/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/

# Distribution / packaging
build/
dist/
sdist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml

# Sphinx documentation
docs/_build/

# IPython intermediate checkpoints
.ipynb_checkpoints

# Data and Track files
*.nc
!tests/data/era5/*.nc
*.txt
!tests/data/tracks/*.txt
*.pickle

# IDE and Project Tooling
.vscode/
worktrees/
