.bd-page-width {
    max-width: 110rem;
}

.bd-main .bd-content .bd-article-container {
    max-width: 75rem;
}

@media (min-width: 992px) {
    #pst-primary-sidebar.bd-sidebar-primary {
        flex: 0 0 var(--pst-sidebar-primary-width);
        width: var(--pst-sidebar-primary-width);
        max-width: var(--pst-sidebar-primary-width);
    }

    #pst-primary-sidebar.bd-sidebar-primary:not(.pst-squeeze) {
        --pst-sidebar-primary-width: 16rem;
    }

    .bd-sidebar-primary.hide-on-wide {
        display: flex;
        visibility: hidden;
        border-right: 0;
    }
}
